@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

<br /><br />
<button type="button" id="btnAddRoleDialog" class="btn btn-default">Add new role</button>
<br /><br />

@if (Model.Count() > 0)
{
    <div class="body-content">
        
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th colspan="3">Rolename</th>
                    <th>Actions</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>
                            <button type="button" class="btn btn-default btn-xs btnEditRoleDialog" data-roleid="@role.Id">Edit</button>
                        </td>
                        <td colspan="3">@role.Name</td>                                                
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info">
        <p class="text-center">No roles found.</p>
    </div>
}
