@model Alboraq.MobileApp.WebApi.Models.MVC.Admin.AdminSettingsViewModel

@{
    ViewBag.Title = "Settings";
}

@Html.Partial("_Modal")

<h2>Settings</h2>

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#users" role="tab" data-toggle="tab">Users</a></li>
    <li role="presentation"><a href="#roles" data-toggle="tab">Role</a></li>
</ul>

<div class="tab-content">
    <div id="users" role="tabpanel" class="tab-pane fade in active">
        @Html.Partial("_UsersPartialView", Model)
    </div>
    <div id="roles" role="tabpanel" class="tab-pane fade">
        @Html.Partial("_RolesPartialView", Model.Roles)
    </div>
</div>

@section scripts{
    <script>
        (function ($, widgetObject) {
            var controls = {
                appModal: $('#appModal'),
                appModalContent: $('#appModal .modal-content'),
                btnAddUserDialog: $('#btnAddUserDialog'),
                btnEditUserDialog: $('.btnEditUserDialog'), 
                btnResetPasswordDialog: $('.btnResetPasswordDialog'),
                btnDeleteUserDialog: $('.btnDeleteUserDialog')
            };

            widgetObject.init = function () {
                bindUiActions();
            };

            var bindUiActions = function () {
                
                controls.appModal.modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: false
                });

                controls.btnAddUserDialog.on('click', function () {

                    controls.appModal.find('.modal-title').text('Add new user');
                    controls.appModal.find('.modal-dialog').addClass('modal-sm');
                    controls.appModal.find('.modal-footer')
                        .append('<button id="btnCloseDialog" type="button" class="btn btn-default">Close</button>'); 

                    var appModalBody = controls.appModal.find('.modal-body');

                    appModalBody.append('<p class="text-center"><i class="fa fa-spinner fa-pulse fa-2x"></i></p>');

                    appModalBody.load('/admin/NewUserPartialView', function () {
                        //add the form element in the controls object
                        controls.frmNewUser = controls.appModalContent.find('#frmNewUser');

                        //bind the validation when the form is loaded.
                        controls.frmNewUser.validate({
                            rules: {
                                Name: 'required',
                                Email: {
                                    required: true,
                                    //validated by the built-in email rule
                                    email: true 
                                },
                                Password: {
                                    required: true,
                                    minlength: 6
                                },
                                ConfirmPassword: {
                                    equalTo: '#Password'
                                },
                                PhoneNumber: 'required'
                            },
                            messages: {
                                Name: 'Please enter your name',
                                Email: 'Please enter a valid email address',
                                Password: {
                                    required: 'Please provide a password',
                                    minlength: 'The password atleast 6 characters long'
                                },
                                PhoneNumber: 'Please enter a mobile number'
                            },
                            submitHandler: function (form) {                                
                                controls.frmNewUser.trigger('submit');
                            }
                        });
                    });           

                    controls.appModal.modal('show');
                });

                controls.appModal.on('shown.bs.modal', function () {                    
                    if ($('#Name')) {
                        $('#Name').focus();
                    }
                });

                controls.appModal.on('hidden.bs.modal', function () {
                    //remove existing button in modal-footer 
                    //that has been created dynamically
                    $(this).find('.modal-footer').empty();
                });

                controls.appModalContent.on('click', '#btnCloseDialog', function () {
                    controls.appModal.modal('hide');
                    location.reload();
                });

                controls.appModalContent.on('submit', '#frmNewUser', function (e) {
                    e.preventDefault();

                    var form = $(this);
                        
                    //animate button submit
                    controls.appModal.find('#btnAddSubmit').html('Creating user..&nbsp; <i class="fa fa-spinner fa-pulse></i>')
                        .addClass('disabled');

                    //disable buttons to prevent closing the modal while creating a user
                    controls.appModal.find('#btnCloseDialog').addClass('disabled');
                    controls.appModal.find('.close').addClass('hidden');

                    //find the alert dialog
                    var alertDialog = controls.appModal.find('#alertMessage');
                    
                    //if exists remove the content
                    if (alertDialog.length) {                        
                        alertDialog.removeClass('alert-success alert-danger').empty();
                    } else {                        
                        alertDialog = $('<div id="alertMessage" class="alert"></div>');                               
                    }
                    
                    $.ajax({
                        method: 'post',
                        url: '/api/account/register',
                        data: form.serialize(),
                        success: function (response) {                                                                          
                            //append response content                            
                            alertDialog.addClass('alert-success')
                                .append('<p class="text-center">User ' + response + ' has been created!</p>');

                            //append the dialog on the top of the form
                            controls.appModal.find('.modal-body').prepend(alertDialog);

                            //clear the input
                            controls.appModalContent.find('#frmNewUser').find('input').val('');                            

                            //enable the control state
                            controls.appModal.find('#btnAddSubmit').html('Submit')
                                .removeClass('disabled');
                            controls.appModal.find('#btnCloseDialog').removeClass('disabled');
                            controls.appModal.find('.close').removeClass('hidden');
                        },
                        error: function (jqXHR) {

                            //get the empty string property of the ModelState
                            var modelStateErrors = jqXHR.responseJSON.ModelState[""];

                            //loop through
                            $.each(modelStateErrors, function (key, value) {
                                alertDialog.addClass('alert-danger')
                                    .append('<p class="text-center">User ' + value + ' has been created!</p>');
                            });

                            // append on the top
                            controls.appModal.find('.modal-body').prepend(alertDialog);                                                
                            
                            controls.appModal.find('#btnAddSubmit').html('Submit')
                                .removeClass('disabled');
                        }
                    });
                });

                controls.btnEditUserDialog.on('click', function (event) {
                    var btn = $(event.currentTarget),
                        userID = btn.data('userid');                    

                    controls.appModal.find('.modal-title').text('Edit user');
                    controls.appModal.find('.modal-dialog').addClass('modal-sm');
                    controls.appModal.find('.modal-footer')
                        .append('<button id="btnCloseDialog" type="button" class="btn btn-default">Close</button>');

                    var appModalBody = controls.appModal.find('.modal-body');

                    appModalBody.append('<p class="text-center"><i class="fa fa-spinner fa-pulse fa-2x"></i></p>');

                    appModalBody.load('/admin/edituserpartialview?userID=' + userID, function () {

                        //add frmUpdateUser form in the controls object
                        controls.frmUpdateUser = controls.appModalContent.find('#frmUpdateUser');

                        controls.frmUpdateUser.validate({
                            rules: {
                                Name: 'required',
                                PhoneNumber: 'required'
                            },
                            messages: {
                                Name: 'Please enter a name',
                                PhoneNumber: 'Please enter a mobile number'
                            },
                            submitHandler: function (form) {
                                controls.frmUpdateUser.trigger('submit');
                            }
                        });
                    });

                    controls.appModal.modal('show');
                });

                controls.appModalContent.on('submit', '#frmUpdateUser', function (e) {
                    e.preventDefault();

                    var form = $(this),
                        alertDialog;

                    //TODO: ADD ANIMATIONS TO THE BUTTONS                    

                    //check if the alert dialog has already been created
                    alertDialog = controls.appModal.find('#alertMessage');

                    if (alertDialog.length) {
                        alertDialog.removeClass('alert-success alert-danger').empty();
                    } else {
                        alertDialog = $('<div id="alertMessage" class="alert"></div>');
                    }

                    $.ajax({
                        method: 'post',
                        url: '/admin/updateuser',
                        data: form.serialize(),
                        success: function (response) {
                            if (response.isSuccess) {
                                alertDialog.addClass('alert-success')
                                    .append('<p class="text-center">' + response.message + '</p>');
                                controls.appModal.find('.modal-body').prepend(alertDialog);
                            } else {
                                $.each(response.errors, function (key, value) {
                                    alertDialog.addClass('alert-danger')
                                        .append('<p class="text-center">' + value + '</p>');
                                });
                                controls.appModal.find('.moda-body').prepend(alertDialog);
                            }
                        },
                        error: function (jqXHR) {
                            alertDialog.add('alert-danger')
                                .append('<p class="text-center">' + jqXHR.responseText + '</p>');
                        }
                    });
                });    
                controls.btnResetPasswordDialog.on('click', function (event) {
                    var btn = $(event.currentTarget),
                        email = btn.data('email');

                    controls.appModal.find('.modal-title').text('Reset password');
                    //controls.appModal.find('.modal-dialog').addClass('modal-sm');
                    controls.appModal.find('.modal-footer')
                        .append('<button id="btnCloseDialog" type="button" class="btn btn-default">Close</button>');

                    var appModalBody = controls.appModal.find('.modal-body');

                    appModalBody.append('<p class="text-center"><i class="fa fa-spinner fa-pulse fa-2x"></i></p>');

                    appModalBody.load('/admin/resetpasswordpartialview?email=' + email);

                    controls.appModal.modal('show');
                });

                controls.appModalContent.on('submit', '#frmResetPassword', function (e) {
                    e.preventDefault();

                    var form = $(this),
                        alertDialog;

                    //TO DO: UPDATE ANIMATION FOR BUTTONS

                    alertDialog = controls.appModal.find('#alertMessage');

                    if (alertDialog.length) {
                        alertDialog.removeClass('text-success text-danger').empty();
                    } else {
                        alertDialog = $('<div id="alertMessage" class="alert"></div>');
                    }

                    $.ajax({
                        method: 'post',
                        url: '/admin/resetpassword',
                        data: form.serialize(),
                        success: function (response) {
                            alertDialog.addClass('alert-success')
                                .append('<p class="text-center">' + response.message + '</p>');
                            controls.appModalContent.find('.modal-body').prepend(alertDialog);
                        },
                        error: function (jqXHR) {
                            alertDialog.addClass('alert-danger')
                                .append('<p class="text-center">' + jqXHR.responseText + '</p>');
                            controls.appModalContent.find('.modal-body').prepend(alertDialog);
                        }
                    })
                });

                controls.btnDeleteUserDialog.on('click', function () {
                    var btn = $(event.currentTarget),
                        email = btn.data('email');

                    controls.appModal.find('.modal-title').text('Delete user');
                    //controls.appModal.find('.modal-dialog').addClass('modal-sm');
                    controls.appModal.find('.modal-footer')
                        .append('<button id="btnCloseDialog" type="button" class="btn btn-default">Close</button>');

                    var appModalBody = controls.appModal.find('.modal-body');
                    
                    appModalBody.append('<p class="text-center"><i class="fa fa-spinner fa-pulse fa-2x"></i></p>');

                    appModalBody.load('/admin/deleteuserpartialview?email=' + email);

                    controls.appModal.modal('show');
                });

                controls.appModalContent.on('submit', '#frmDeleteUser', function () {
                    
                });
            };
        })(jQuery, window.UserWidget = window.UserWidget || {});

        UserWidget.init();        
    </script>
}