@model Alboraq.MobileApp.WebApi.Models.MVC.Admin.AdminSettingsViewModel

@{
    ViewBag.Title = "Settings";
}

@Html.Partial("_Modal")

<h2>Settings</h2>

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#users" role="tab" data-toggle="tab">Users</a></li>
    <li role="presentation"><a href="#roles" data-toggle="tab">Role</a></li>
</ul>

<div class="tab-content">
    <div id="users" role="tabpanel" class="tab-pane fade in active">
        @Html.Partial("_UsersPartialView", Model)
    </div>
    <div id="roles" role="tabpanel" class="tab-pane fade in">
        @Html.Partial("_RolesPartialView", Model.Roles)
    </div>
</div>

@section scripts{
    <script src="~/dist/js/user.js"></script>
    <script src="~/dist/js/role.js"></script>
}