
@{
    ViewBag.Title = "Index";
}

<h2>Customer Orders</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("productlist", "prod")">View List of Products</a></li>
    <li role="presentation"><a href="@Url.Action("newproduct", "prod")">Add New product</a></li>
    <li role="presentation"><a href="#">Reports</a></li>
</ul>

<div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Order no.</th>
                <th>Customer no</th>
            </tr>
        </thead>
    </table>
</div>