@model Alboraq.MobileApp.WebApi.Models.ConfirmPasswordBindingModel

<h3>Please type your new password</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.UserID)
    @Html.HiddenFor(model=>model.Key)
    <div class="form-group">
        @Html.LabelFor(model=>model.NewPassword)
        @Html.PasswordFor(model=>model.NewPassword, new { @class = "form-control", autofocus = "autofocus" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
}
