@model Alboraq.MobileApp.WebApi.Models.ResetPasswordBindingModel

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmResetPassword" }))
{
    <div class="form-group">
        @Html.LabelFor(user=>user.Email)
        @Html.TextBoxFor(user=>user.Email, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <button btn="btnResetPassword" type="submit" class="btn btn-default">Submit</button>
    </div>
}
